<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <title>Remote Job Scrapper</title>
</head>

<body>
  <header>
    <h1 class="header">Find your remote job!</h1>
  </header>

  <main>
    <form class="search-form" action="/search" method="GET">
      <input class="search-box" placeholder="python" type="text" name="keyword" required>
      <button class="submit-button" type="submit">
        <img class="search-icon" src="{{ url_for('static', filename='assets/search-solid.svg') }}"
          alt="search-solid.svg">
      </button>
    </form>
  </main>
  <footer>
    <div class="logo-container">
      <a href="https://remoteok.io" target="_blank" class="offer-link">
        <img src="{{ url_for('static', filename='assets/remoteok-logo.png') }}" alt="remoteok logo" class="logo">
      </a>
      <a href="https://stackoverflow.com/jobs" target="_blank" class="offer-link">
        <img src="{{ url_for('static', filename='assets/stackoverflow-logo.svg') }}" alt="stackoverflow logo"
          class="logo">
      </a>
      <a href="https://weworkremotely.com" target="_blank" class="offer-link">
        <img src="{{ url_for('static', filename='assets/weworkremotely-logo.png') }}" alt="weworkremotely logo"
          class="logo">
      </a>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
</body>

</html>
